## Model Training

#### 1.1 Import Data and Required Packages
##### Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [1]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
import warnings

#### Import the csv data

In [2]:
df = pd.read_csv('data/stud.csv')

In [3]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
x= df.drop('math_score',axis = 1 )

In [5]:
y = df['math_score']

#### Transfer the data

In [6]:
num_featrue = x.select_dtypes(exclude='O').columns
cat_featrue = x.select_dtypes(include ='O').columns 

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

STScaler = StandardScaler()
OHE = OneHotEncoder()

preprocessor = ColumnTransformer(
        [
            ('StandardScaler',STScaler,num_featrue),
            ('OneHotEncoder',OHE , cat_featrue)
        ]
)

In [7]:
x=preprocessor.fit_transform(x)

#### Split the data

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test, y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=48)

#### Evaluate Function

In [9]:
def evaluate_model (true ,pred):
    mae = mean_absolute_error(true,pred)
    mse = mean_squared_error(true,pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(true,pred)
    return mae ,rmse,r2

#### Model Trainning

In [10]:
models = {
    "Linear Regression": LinearRegression(),
    "Ridge": Ridge(),
    "Lasso":Lasso(),
    "KNN Regressor": KNeighborsRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "DecisionTreeRegressor" : DecisionTreeRegressor(),
    "AdaBoost Regressor" : AdaBoostRegressor(),
    "SVR" : SVR()
}


model_list =[]
r2_list= []

for i in range(len(list(models))):
    
    model = list(models.values())[i]
    model.fit(x_train,y_train)


    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)



    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)



      
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.3356
- Mean Absolute Error: 4.2582
- R2 Score: 0.8773
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.2883
- Mean Absolute Error: 4.1904
- R2 Score: 0.8719
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.3358
- Mean Absolute Error: 4.2578
- R2 Score: 0.8772
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.2881
- Mean Absolute Error: 4.1843
- R2 Score: 0.8719
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5977
- Mean Absolute Error: 5.2098
- R2 Score: 0.8123
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3452
- Mean Absolute Error: 5.0066
- R2 Score: 0.8156
===================================


KNN Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8028
- Mean Absolute Error: 4.6108
- R2 Score: 0.8548
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.9534
- Mean Absolute Error: 5.4940
- R2 Score: 0.7786
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.2812
- Mean Absolute Error: 1.8028
- R2 Score: 0.9776
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.1023
- Mean Absolute Error: 4.6823
- R2 Score: 0.8295
===================================


DecisionTreeRegressor
Model performance for Training set
- Root Mean Squared Error: 0.4507
- Mean Absolute Error: 0.0387
- R2 Score: 0.9991
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.2138
- Mean Absolute Error: 6.4475
- R2 Score: 0.6910
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.8689
- Mean Absolute Error: 4.7983
- R2 Score: 0.8515
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.9532
- Mean Absolute Error: 4.6206
- R2 Score: 0.8377
===================================


SVR
Model performance for Training set
- Root Mean Squared Error: 7.0139
- Mean Absolute Error: 5.0136
- R2 Score: 0.7879
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3895
- Mean Absolute Error: 4.8516
- R2 Score: 0.8130
===================================

In [11]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
1                    Ridge  0.871926
0        Linear Regression  0.871917
6       AdaBoost Regressor  0.837688
4  Random Forest Regressor  0.829456
2                    Lasso  0.815605
7                      SVR  0.813025
3            KNN Regressor  0.778566
5    DecisionTreeRegressor  0.691012

#### Linear Regression

In [12]:
lin_model = LinearRegression(fit_intercept=True)
lin_model = lin_model.fit(x_train, y_train)
y_pred = lin_model.predict(x_test)

score = r2_score(y_test, y_pred)*100
print(" Accuracy of the model is %.2f" %score)

 Accuracy of the model is 87.19